h1 {
  text-align: center;
}


#potato {
  position: relative;
  width: 367px;
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#potato img {
  position: absolute;
}

/* Insert CSS for body below this line*/
#body { 
  top: 28px; 
  left: 68px;
}
/* Insert CSS for arms below this line*/
#arms_image{
  top:170px;
  right:30px;
}


/* Insert CSS for ears below this line*/




/* Insert CSS for eyes below this line*/




/* Insert CSS for mouth below this line*/




/* Insert CSS for nose below this line*/
#nose_image{
 top: 110px; 
 right:140px;
}



/* Insert CSS for eyebrows below this line*/
#eyebrows_image{
  top: 80px; 
  left: 110px;
}



/* Insert CSS for glasses below this line*/
#glasses_image{
  top:90px;
  left:100px;
}

/* Insert CSS for hat below this line*/
#hat_image{
  left:100px; 
}


/* Insert CSS for arms below this line*/




/* Insert CSS for moustache below this line*/
#moustache_image{
  top: 170px; 
  left: 90px;
}


/* Insert CSS for shoes below this line*/
#shoes_image{
Bottom: 100px; right: 69px;
}



/* Insert CSS for cane below this line*/




/* Insert CSS for earrings below this line*/




/* Insert CSS for arms below this line*/




/* Insert CSS for hatflower below this line*/




/* Insert CSS for boosters below this line*/



